openapi: 3.0.0
info:
  title: Awesome Video API
  version: 1.0.0
  description: >-
    Runtime-generated OpenAPI 3 contract for the Awesome Video catalog, user, contribution, journey, administration,
    export, link-health, and AI APIs.
servers:
  - url: https://awesome.video
    description: Awesome Video
components:
  schemas:
    get_3a__2f_api_2f_notification-preferences.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    JsonResponse: {}
    ValidationError:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        fieldErrors:
          type: object
          additionalProperties: {}
        errors:
          type: array
          items: {}
      required:
        - error
        - message
        - fieldErrors
        - errors
      additionalProperties: {}
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
      required:
        - message
      additionalProperties: {}
    put_3a__2f_api_2f_notification-preferences.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    JsonObjectBody:
      type: object
      additionalProperties: {}
    get_3a__2f_api_2f_digests_2f_preview.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_notifications.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    patch_3a__2f_api_2f_notifications_2f__7b_id_7d__2f_read.Params:
      type: object
      properties:
        id:
          type: string
          pattern: ^\d+$
      required:
        - id
      additionalProperties: {}
    patch_3a__2f_api_2f_notifications_2f__7b_id_7d__2f_read.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    post_3a__2f_api_2f_notifications_2f_read-all.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_admin_2f_digests_2f_health.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_auth_2f_user.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    AuthUserResponse:
      type: object
      properties:
        isAuthenticated:
          type: boolean
        user:
          anyOf:
            - type: object
              properties:
                id:
                  anyOf:
                    - type: string
                    - type: number
                email:
                  nullable: true
                  type: string
                name:
                  type: string
                avatar:
                  nullable: true
                  type: string
                role:
                  type: string
                createdAt:
                  anyOf:
                    - {}
                    - type: string
                    - type: string
                      nullable: true
                      enum:
                        - null
                    - {}
                deletionRequestedAt:
                  anyOf:
                    - {}
                    - type: string
                    - type: string
                      nullable: true
                      enum:
                        - null
                    - {}
              required:
                - id
                - name
                - role
                - createdAt
                - deletionRequestedAt
              additionalProperties: {}
            - type: string
              nullable: true
              enum:
                - null
      required:
        - isAuthenticated
        - user
      additionalProperties: false
    get_3a__2f_api_2f_auth_2f_me.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    AuthMeResponse:
      type: object
      properties:
        id:
          anyOf:
            - type: string
            - type: number
        email:
          nullable: true
          type: string
        name:
          type: string
        avatar:
          nullable: true
          type: string
        role:
          type: string
        createdAt:
          anyOf:
            - {}
            - type: string
        deletionRequestedAt:
          anyOf:
            - {}
            - type: string
            - type: string
              nullable: true
              enum:
                - null
      required:
        - id
        - name
        - role
        - createdAt
        - deletionRequestedAt
      additionalProperties: {}
    post_3a__2f_api_2f_auth_2f_logout-all.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_auth_2f_status.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_resources.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    ResourcesListResponse:
      type: object
      properties:
        resources:
          type: array
          items:
            type: object
            properties:
              id:
                type: number
              title:
                type: string
              url:
                type: string
              status:
                type: string
            required:
              - id
              - title
              - url
              - status
            additionalProperties: {}
        total:
          type: number
        limit:
          type: number
        offset:
          type: number
        nextOffset:
          anyOf:
            - type: number
            - type: string
              nullable: true
              enum:
                - null
        nextCursor:
          anyOf:
            - type: number
            - type: string
              nullable: true
              enum:
                - null
        pagination:
          type: object
          properties:
            page:
              type: number
            limit:
              type: number
            total:
              type: number
            totalPages:
              type: number
            hasMore:
              type: boolean
          required:
            - page
            - limit
            - total
            - totalPages
            - hasMore
          additionalProperties: false
      required:
        - resources
        - total
        - limit
        - offset
        - nextOffset
        - nextCursor
        - pagination
      additionalProperties: false
    get_3a__2f_api_2f_search.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    post_3a__2f_api_2f_telemetry_2f_dead-link.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_resources_2f_check-url.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_resources_2f__7b_id_7d_.Params:
      type: object
      properties:
        id:
          type: string
          pattern: ^\d+$
      required:
        - id
      additionalProperties: {}
    get_3a__2f_api_2f_resources_2f__7b_id_7d_.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    SingleResourceResponse:
      type: object
      properties:
        id:
          type: number
        title:
          type: string
        url:
          type: string
        status:
          type: string
        category:
          nullable: true
          type: string
        subcategory:
          nullable: true
          type: string
      required:
        - id
        - title
        - url
        - status
      additionalProperties: {}
    get_3a__2f_api_2f_resource_2f__7b_id_7d_.Params:
      type: object
      properties:
        id:
          type: string
          pattern: ^\d+$
      required:
        - id
      additionalProperties: {}
    get_3a__2f_api_2f_resource_2f__7b_id_7d_.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_resources_2f__7b_id_7d__2f_related.Params:
      type: object
      properties:
        id:
          type: string
          pattern: ^\d+$
      required:
        - id
      additionalProperties: {}
    get_3a__2f_api_2f_resources_2f__7b_id_7d__2f_related.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    post_3a__2f_api_2f_resources.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    post_3a__2f_api_2f_submit.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_resources_2f_pending.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    put_3a__2f_api_2f_resources_2f__7b_id_7d__2f_approve.Params:
      type: object
      properties:
        id:
          type: string
          pattern: ^\d+$
      required:
        - id
      additionalProperties: {}
    put_3a__2f_api_2f_resources_2f__7b_id_7d__2f_approve.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    put_3a__2f_api_2f_resources_2f__7b_id_7d__2f_reject.Params:
      type: object
      properties:
        id:
          type: string
          pattern: ^\d+$
      required:
        - id
      additionalProperties: {}
    put_3a__2f_api_2f_resources_2f__7b_id_7d__2f_reject.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    post_3a__2f_api_2f_resources_2f__7b_id_7d__2f_edits.Params:
      type: object
      properties:
        id:
          type: string
          pattern: ^\d+$
      required:
        - id
      additionalProperties: {}
    post_3a__2f_api_2f_resources_2f__7b_id_7d__2f_edits.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_categories.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_tags.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_subcategories.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_sub-subcategories.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    post_3a__2f_api_2f_favorites_2f__7b_resourceId_7d_.Params:
      type: object
      properties:
        resourceId:
          type: string
          pattern: ^\d+$
      required:
        - resourceId
      additionalProperties: {}
    post_3a__2f_api_2f_favorites_2f__7b_resourceId_7d_.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    delete_3a__2f_api_2f_favorites_2f__7b_resourceId_7d_.Params:
      type: object
      properties:
        resourceId:
          type: string
          pattern: ^\d+$
      required:
        - resourceId
      additionalProperties: {}
    delete_3a__2f_api_2f_favorites_2f__7b_resourceId_7d_.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_favorites.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    post_3a__2f_api_2f_bookmarks_2f__7b_resourceId_7d_.Params:
      type: object
      properties:
        resourceId:
          anyOf:
            - type: string
              pattern: ^\d+$
            - type: string
              enum:
                - bulk
      required:
        - resourceId
      additionalProperties: {}
    post_3a__2f_api_2f_bookmarks_2f__7b_resourceId_7d_.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    delete_3a__2f_api_2f_bookmarks_2f__7b_resourceId_7d_.Params:
      type: object
      properties:
        resourceId:
          type: string
          pattern: ^\d+$
      required:
        - resourceId
      additionalProperties: {}
    delete_3a__2f_api_2f_bookmarks_2f__7b_resourceId_7d_.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_bookmarks.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_collections.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    post_3a__2f_api_2f_collections.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    put_3a__2f_api_2f_collections_2f_reorder.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    patch_3a__2f_api_2f_collections_2f__7b_collectionId_7d_.Params:
      type: object
      properties:
        collectionId:
          type: string
          pattern: ^\d+$
      required:
        - collectionId
      additionalProperties: {}
    patch_3a__2f_api_2f_collections_2f__7b_collectionId_7d_.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    delete_3a__2f_api_2f_collections_2f__7b_collectionId_7d_.Params:
      type: object
      properties:
        collectionId:
          type: string
          pattern: ^\d+$
      required:
        - collectionId
      additionalProperties: {}
    delete_3a__2f_api_2f_collections_2f__7b_collectionId_7d_.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    post_3a__2f_api_2f_collections_2f__7b_collectionId_7d__2f_items_2f__7b_resourceId_7d_.Params:
      type: object
      properties:
        collectionId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
      required:
        - collectionId
        - resourceId
      additionalProperties: {}
    post_3a__2f_api_2f_collections_2f__7b_collectionId_7d__2f_items_2f__7b_resourceId_7d_.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    delete_3a__2f_api_2f_collections_2f__7b_collectionId_7d__2f_items_2f__7b_resourceId_7d_.Params:
      type: object
      properties:
        collectionId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
      required:
        - collectionId
        - resourceId
      additionalProperties: {}
    delete_3a__2f_api_2f_collections_2f__7b_collectionId_7d__2f_items_2f__7b_resourceId_7d_.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    post_3a__2f_api_2f_collections_2f__7b_collectionId_7d__2f_publish.Params:
      type: object
      properties:
        collectionId:
          type: string
          pattern: ^\d+$
      required:
        - collectionId
      additionalProperties: {}
    post_3a__2f_api_2f_collections_2f__7b_collectionId_7d__2f_publish.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    delete_3a__2f_api_2f_collections_2f__7b_collectionId_7d__2f_publish.Params:
      type: object
      properties:
        collectionId:
          type: string
          pattern: ^\d+$
      required:
        - collectionId
      additionalProperties: {}
    delete_3a__2f_api_2f_collections_2f__7b_collectionId_7d__2f_publish.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    patch_3a__2f_api_2f_bookmarks_2f__7b_resourceId_7d__2f_state.Params:
      type: object
      properties:
        resourceId:
          type: string
          pattern: ^\d+$
      required:
        - resourceId
      additionalProperties: {}
    patch_3a__2f_api_2f_bookmarks_2f__7b_resourceId_7d__2f_state.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    post_3a__2f_api_2f_bookmarks_2f_bulk.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_public_2f_collections_2f__7b_shareId_7d_.Params:
      type: object
      properties:
        shareId:
          type: string
          minLength: 1
          maxLength: 512
      required:
        - shareId
      additionalProperties: {}
    get_3a__2f_api_2f_public_2f_collections_2f__7b_shareId_7d_.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    post_3a__2f_api_2f_user_2f_api-keys.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_user_2f_api-keys.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    delete_3a__2f_api_2f_user_2f_api-keys_2f__7b_id_7d_.Params:
      type: object
      properties:
        id:
          type: string
          pattern: ^\d+$
      required:
        - id
      additionalProperties: {}
    delete_3a__2f_api_2f_user_2f_api-keys_2f__7b_id_7d_.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    patch_3a__2f_api_2f_user_2f_profile.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    post_3a__2f_api_2f_user_2f_deletion-request.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    delete_3a__2f_api_2f_user_2f_deletion-request.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_user_2f_progress.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_user_2f_preferences.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    put_3a__2f_api_2f_user_2f_preferences.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    delete_3a__2f_api_2f_user_2f_preferences.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_user_2f_contributions.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_user_2f_submissions.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    post_3a__2f_api_2f_user_2f_contributions_2f__7b_kind_7d__2f__7b_id_7d__2f_withdraw.Params:
      type: object
      properties:
        kind:
          type: string
          minLength: 1
          maxLength: 512
        id:
          type: string
          pattern: ^\d+$
      required:
        - kind
        - id
      additionalProperties: {}
    post_3a__2f_api_2f_user_2f_contributions_2f__7b_kind_7d__2f__7b_id_7d__2f_withdraw.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    delete_3a__2f_api_2f_user_2f_submissions_2f__7b_id_7d_.Params:
      type: object
      properties:
        id:
          type: string
          pattern: ^\d+$
      required:
        - id
      additionalProperties: {}
    delete_3a__2f_api_2f_user_2f_submissions_2f__7b_id_7d_.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_user_2f_journeys.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_user_2f_continue-learning.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_journeys.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    JourneysListResponse:
      type: array
      items:
        type: object
        properties:
          id:
            type: number
          title:
            type: string
          status:
            type: string
          stepCount:
            type: number
          completedStepCount:
            type: number
          isEnrolled:
            type: boolean
        required:
          - id
          - title
          - status
          - stepCount
          - completedStepCount
          - isEnrolled
        additionalProperties: {}
    get_3a__2f_api_2f_journeys_2f__7b_id_7d_.Params:
      type: object
      properties:
        id:
          type: string
          pattern: ^\d+$
      required:
        - id
      additionalProperties: {}
    get_3a__2f_api_2f_journeys_2f__7b_id_7d_.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    post_3a__2f_api_2f_journeys_2f__7b_id_7d__2f_start.Params:
      type: object
      properties:
        id:
          type: string
          pattern: ^\d+$
      required:
        - id
      additionalProperties: {}
    post_3a__2f_api_2f_journeys_2f__7b_id_7d__2f_start.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    put_3a__2f_api_2f_journeys_2f__7b_id_7d__2f_progress.Params:
      type: object
      properties:
        id:
          type: string
          pattern: ^\d+$
      required:
        - id
      additionalProperties: {}
    put_3a__2f_api_2f_journeys_2f__7b_id_7d__2f_progress.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_journeys_2f__7b_id_7d__2f_progress.Params:
      type: object
      properties:
        id:
          type: string
          pattern: ^\d+$
      required:
        - id
      additionalProperties: {}
    get_3a__2f_api_2f_journeys_2f__7b_id_7d__2f_progress.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_admin_2f_journeys.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    put_3a__2f_api_2f_admin_2f_journeys_2f__7b_id_7d_.Params:
      type: object
      properties:
        id:
          type: string
          pattern: ^\d+$
      required:
        - id
      additionalProperties: {}
    put_3a__2f_api_2f_admin_2f_journeys_2f__7b_id_7d_.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_admin_2f_journeys_2f__7b_id_7d__2f_steps.Params:
      type: object
      properties:
        id:
          type: string
          pattern: ^\d+$
      required:
        - id
      additionalProperties: {}
    get_3a__2f_api_2f_admin_2f_journeys_2f__7b_id_7d__2f_steps.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    post_3a__2f_api_2f_admin_2f_journeys_2f__7b_id_7d__2f_steps.Params:
      type: object
      properties:
        id:
          type: string
          pattern: ^\d+$
      required:
        - id
      additionalProperties: {}
    post_3a__2f_api_2f_admin_2f_journeys_2f__7b_id_7d__2f_steps.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    patch_3a__2f_api_2f_admin_2f_journeys_2f__7b_journeyId_7d__2f_steps_2f__7b_stepId_7d_.Params:
      type: object
      properties:
        journeyId:
          type: string
          pattern: ^\d+$
        stepId:
          type: string
          pattern: ^\d+$
      required:
        - journeyId
        - stepId
      additionalProperties: {}
    patch_3a__2f_api_2f_admin_2f_journeys_2f__7b_journeyId_7d__2f_steps_2f__7b_stepId_7d_.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    delete_3a__2f_api_2f_admin_2f_journeys_2f__7b_journeyId_7d__2f_steps_2f__7b_stepId_7d_.Params:
      type: object
      properties:
        journeyId:
          type: string
          pattern: ^\d+$
        stepId:
          type: string
          pattern: ^\d+$
      required:
        - journeyId
        - stepId
      additionalProperties: {}
    delete_3a__2f_api_2f_admin_2f_journeys_2f__7b_journeyId_7d__2f_steps_2f__7b_stepId_7d_.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    post_3a__2f_api_2f_admin_2f_journeys_2f__7b_id_7d__2f_steps_2f_reorder.Params:
      type: object
      properties:
        id:
          type: string
          pattern: ^\d+$
      required:
        - id
      additionalProperties: {}
    post_3a__2f_api_2f_admin_2f_journeys_2f__7b_id_7d__2f_steps_2f_reorder.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_admin_2f_stats.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    AdminStatsResponse:
      type: object
      properties:
        users:
          type: number
        resources:
          type: number
        journeys:
          type: number
        pendingApprovals:
          type: number
        pendingEdits:
          type: number
        totalPublic:
          type: number
        totalPending:
          type: number
        totalRejected:
          type: number
      required:
        - users
        - resources
        - journeys
        - pendingApprovals
        - pendingEdits
        - totalPublic
        - totalPending
        - totalRejected
      additionalProperties: {}
    get_3a__2f_api_2f_admin_2f_users.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_admin_2f_users_2f_export.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    patch_3a__2f_api_2f_admin_2f_users_2f__7b_id_7d__2f_name.Params:
      type: object
      properties:
        id:
          type: string
          pattern: ^\d+$
      required:
        - id
      additionalProperties: {}
    patch_3a__2f_api_2f_admin_2f_users_2f__7b_id_7d__2f_name.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    put_3a__2f_api_2f_admin_2f_users_2f__7b_id_7d__2f_role.Params:
      type: object
      properties:
        id:
          type: string
          pattern: ^\d+$
      required:
        - id
      additionalProperties: {}
    put_3a__2f_api_2f_admin_2f_users_2f__7b_id_7d__2f_role.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    delete_3a__2f_api_2f_admin_2f_users_2f__7b_id_7d_.Params:
      type: object
      properties:
        id:
          type: string
          pattern: ^\d+$
      required:
        - id
      additionalProperties: {}
    delete_3a__2f_api_2f_admin_2f_users_2f__7b_id_7d_.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_admin_2f_audit-logs.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
          type: string
          pattern: ^\d+$
        categoryId:
          type: string
          pattern: ^\d+$
        subcategoryId:
          type: string
          pattern: ^\d+$
        per_page:
          type: string
          pattern: ^\d+$
        cursor:
          type: string
          minLength: 1
          maxLength: 512
      additionalProperties:
        anyOf:
          - type: string
            minLength: 1
            maxLength: 512
          - type: string
            maxLength: 0
          - type: array
            items:
              type: string
              maxLength: 512
    get_3a__2f_api_2f_admin_2f_pending-resources.Query:
      type: object
      properties:
        page:
          type: string
          pattern: ^\d+$
        limit:
          type: string
          pattern: ^\d+$
        offset:
          type: string
          pattern: ^\d+$
        afterSeq:
          type: string
          pattern: ^\d+$
        jobId:
          type: string
          pattern: ^\d+$
        resourceId:
[...]
